.page-title {
  @apply font-semibold text-2xl;
}

.panel-title-container {
  @apply flex flex-row flex-wrap items-center gap-5;
}

p.p-invalid {
  @apply text-red-500 text-xs italic;
}

.clamp-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
