/* PrimeUi galleria component style customization */
.p-galleria-items {
  @apply min-h-0 flex-1;
}

.p-galleria-items > div {
  @apply [height:unset];
}

.p-galleria-items > button {
  @apply translate-y-1/2 
      bg-opacity-50 enabled:hover:bg-opacity-75 
      bg-surface-100 enabled:hover:bg-surface-200 enabled:active:bg-surface-300
      border-surface-100 enabled:hover:border-surface-200 enabled:active:border-surface-300
      text-surface-600 enabled:hover:text-surface-700 enabled:active:text-surface-800
      dark:bg-surface-800 dark:enabled:hover:bg-surface-700 dark:enabled:active:bg-surface-600
      dark:border-surface-800 dark:enabled:hover:border-surface-700 dark:enabled:active:border-surface-600
      dark:text-surface-300 dark:enabled:hover:text-surface-200 dark:enabled:active:text-surface-100
      focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2
      focus-visible:outline-surface-600 dark:focus-visible:outline-surface-300;
}
